{% load static %}
{% load phone_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'phones/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'phones/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for m in menu %}
		<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
            {% if request.user.is_authenticated %}
                <li class="last">
                    <a>{{ user.username }}</a> | <a href="{% url 'logout' %}">Выйти</a>
                </li>
            {% else %}
                <li class="last">
                    <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
                </li>
            {% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
    {% if brand_selected == 0 %}
        <li class="selected">Все брэнды</li>
        {% else %}
        <li><a href="{% url 'home' %}">Все брэнды</a></li>
    {% endif %}

{% for brand in brands %}
    {% if brand.phone__count > 0 %}
        {% if brand.slug == brand_selected %}
            <li class="selected">{{ brand.name }}</li>
        {% else %}
            <li><a href="{{ brand.get_absolute_url }}">{{ brand.name }}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}
	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
<div class="content-text">
{% block content %}
{% endblock %}

{% if page_obj.has_other_pages %}
    <nav>
        <ul>
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}"> Предыдущая </a>
                </li>
            {% endif %}
            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="selected">
                    {{ p }}
                </li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li>
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}"> Следующая </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
</div>
<!-- Конец блока контента -->

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>Учебный проект с ютуба</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>
